image:
  repository: 279606006025.dkr.ecr.ap-south-1.amazonaws.com/xyzmarkets-dev
  tag: dev

replicaCount: 2

service:
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"
